$content-width: 640px;
$main: #333;
$font-style: 'Source Sans Pro', sans-serif;
$font-color: #555;
$link-color: #666;
$link-hover-color: $main;
$heading-font: 'Volkhov', serif;
$heading-font-color: #444;
$white: #fff;
$near-white: #f3f3f3;
$light: #E7EDF4;
$text-light: #ccc;
$medium: #aaa;
$dark: #444;
$header:  #fff;
$background: $near-white;
$asciitextsize: 0.8em;
$navbartop: 0px;
$navbartop: 5px;
$navbarbottom: 0px;
$nav: $near-white;
$nav: $dark;
$navline: 0px;
$navwidth: 600px;
$navwidth: 400px;

$nav-text: $dark;
$nav-text: $text-light;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 