<footer>
<span>
© 2019 | <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">p5yb14d3</a>
</span>
<ul class="social-media-list">
  {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>{%- endif -%}
  {%- if site.tumblr_username -%}<li><a href="https://tumblr.com/{{ site.tumblr_username| cgi_escape | escape }}"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a></li>{%- endif -%}
  {%- if site.twitter_username -%}<li><a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{%- endif -%}
</ul>
</footer>
