body {
	font-family: Merriweather, Georgia, serif;
	font-family: Merriweather Sans, sans-serif;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight:500;
	line-height: 30px;
	background-color: white;
	color: #111;
	max-width: 780px;
	padding: 1em;
	margin: auto auto;
	display: block;
	text-align: left;
	min-height:110vh;
}

a:link    { color: #333399; text-decoration: none;      }
a:hover   { color: navy; }
a:visited { color: #333399;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

h1 {font-family: Georgia, serif; font-size:30px; }

#entry-list {
	padding-top:20px; 
	margin-bottom: 1em; 
	margin-top: 1em; 
	max-width:680px; 
	text-align:left;
	list-style-type: none;
	}

	
.entry-title {font-size:36px; font-weight:bold; margin-bottom:10px; margin-top:0px; line-height:40px}
.entry-info {font-size:14px;}
.entry-content {font-size:17px; font-style:italic; font-weight:bold; margin-bottom:20px;}
.entry-item > footer > time {color:#aaa; margin-bottom:0px;}
.entry-item > footer > .author {font-style:italic;}
.entry-item > footer > .category {font-style:italic;}

#all_articles {font-size:24px; margin-top:40px; margin-bottom:10px; visibility:hidden;}
.article {max-width:680px; margin-left:auto; margin-right:auto; }

.article-title {
	font-size:42px; 
	font-weight:bold;
	margin-top:0px;
	margin-bottom:30px;
	text-align:left;
	line-height:60px;
}
.article-info {
	font-size:20px; 
	font-style:normal;
	line-height:30px;
	margin-top:90px;
	margin-bottom:0px;
}

.article-info  > .author {font-style:italic;}
.article-info  > time {color:#aaa; font-size:14px;}
.article-content {font-size: 17px;}

#menu li {
    display: inline;
}

pre {
    margin: 2em 1em 2em 4em;
    white-space: pre-wrap;
}

/*
.entry-title, .post-info {
	text-align:center;
}

*/

time {
	display:block;
	clear:both;
}

address {
	display: inline-block;
}

.published, .modified {
	display: inline-block;
}

.category  {
	display: inline-block;
}



#banner {
	padding-bottom:0px;
	border-bottom: 1px dotted #ddd;
}

footer {margin-top:0px;}

#contentinfo {
	margin-top:50px;
	padding-top:40px;
	border-top: 1px dotted #ddd;
	text-align:center;
}

#social {
	margin-top: 20px;
}

.social {
	display:inline-block;
	width:auto;
}

.social:link {
	color:#000;
}

.social:hover {
	color:#444;
}

.social > i {
	font-size:30px; 
}

.social-separator {
	width: 30px;
	display:inline-block;
}

img {width: 800px;}
