body {
}

#ui {
	position: relative;
	transform: rotateZ(0deg);
	height: 100px;
}

#ui .text {
	position: absolute;
	top: 50px;
	left: 50%;
	font-size: 8rem;
	color: #fff;
	line-height: 8rem;
	font-family: 'Anton', sans-serif;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	letter-spacing: 1rem;
	overflow: hidden;
}

#ui .text:nth-child(1) {
	color: rgba(238, 40, 92, 1);
	clip-path: polygon(-2% -3%, 8% -15%, 6% 53%, -1% 79%);
	filter: blur(0px);
}

#ui .text:nth-child(1) .text_inner1 {
	animation: vertical 1340ms 84ms ease-in-out infinite alternate;
}

#ui .text:nth-child(1) .text_inner2 {
	animation: horizontal 747ms 20ms ease-in-out infinite alternate;
}

#ui .text:nth-child(2) {
	color: rgba(97, 40, 179, 1);
	clip-path: polygon(3% -3%, 15% -16%, 13% 54%, 4% 80%);
	filter: blur(-6px);
}

#ui .text:nth-child(2) .text_inner1 {
	animation: vertical 1019ms 43ms ease-in-out infinite alternate;
}

#ui .text:nth-child(2) .text_inner2 {
	animation: horizontal 931ms 45ms ease-in-out infinite alternate;
}

#ui .text:nth-child(3) {
	color: rgba(221, 40, 194, 1);
	clip-path: polygon(9% -4%, 19% -27%, 17% 55%, 9% 51%);
	filter: blur(3px);
}

#ui .text:nth-child(3) .text_inner1 {
	animation: vertical 984ms 71ms ease-in-out infinite alternate;
}

#ui .text:nth-child(3) .text_inner2 {
	animation: horizontal 1123ms 33ms ease-in-out infinite alternate;
}

#ui .text:nth-child(4) {
	color: rgba(242, 40, 117, 1);
	clip-path: polygon(14% -1%, 21% -23%, 21% 54%, 13% 61%);
	filter: blur(-8px);
}

#ui .text:nth-child(4) .text_inner1 {
	animation: vertical 1012ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(4) .text_inner2 {
	animation: horizontal 1442ms 24ms ease-in-out infinite alternate;
}

#ui .text:nth-child(5) {
	color: rgba(243, 40, 67, 1);
	clip-path: polygon(18% -2%, 30% -19%, 30% 53%, 19% 64%);
	filter: blur(1px);
}

#ui .text:nth-child(5) .text_inner1 {
	animation: vertical 834ms 79ms ease-in-out infinite alternate;
}

#ui .text:nth-child(5) .text_inner2 {
	animation: horizontal 1393ms 38ms ease-in-out infinite alternate;
}

#ui .text:nth-child(6) {
	color: rgba(118, 40, 174, 1);
	clip-path: polygon(24% -5%, 33% -11%, 33% 51%, 23% 65%);
	filter: blur(8px);
}

#ui .text:nth-child(6) .text_inner1 {
	animation: vertical 1622ms 4ms ease-in-out infinite alternate;
}

#ui .text:nth-child(6) .text_inner2 {
	animation: horizontal 766ms 66ms ease-in-out infinite alternate;
}

#ui .text:nth-child(7) {
	color: rgba(192, 40, 171, 1);
	clip-path: polygon(28% -1%, 37% -23%, 37% 53%, 28% 73%);
	filter: blur(-2px);
}

#ui .text:nth-child(7) .text_inner1 {
	animation: vertical 893ms 39ms ease-in-out infinite alternate;
}

#ui .text:nth-child(7) .text_inner2 {
	animation: horizontal 1603ms 78ms ease-in-out infinite alternate;
}

#ui .text:nth-child(8) {
	color: rgba(246, 40, 221, 1);
	clip-path: polygon(33% -1%, 42% -1%, 45% 52%, 34% 75%);
	filter: blur(-6px);
}

#ui .text:nth-child(8) .text_inner1 {
	animation: vertical 1526ms 81ms ease-in-out infinite alternate;
}

#ui .text:nth-child(8) .text_inner2 {
	animation: horizontal 1505ms 98ms ease-in-out infinite alternate;
}

#ui .text:nth-child(9) {
	color: rgba(247, 40, 129, 1);
	clip-path: polygon(38% -3%, 46% -12%, 49% 55%, 38% 61%);
	filter: blur(-6px);
}

#ui .text:nth-child(9) .text_inner1 {
	animation: vertical 1056ms 63ms ease-in-out infinite alternate;
}

#ui .text:nth-child(9) .text_inner2 {
	animation: horizontal 1040ms 93ms ease-in-out infinite alternate;
}

#ui .text:nth-child(10) {
	color: rgba(207, 40, 109, 1);
	clip-path: polygon(43% -4%, 53% -9%, 53% 53%, 43% 80%);
	filter: blur(9px);
}

#ui .text:nth-child(10) .text_inner1 {
	animation: vertical 789ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(10) .text_inner2 {
	animation: horizontal 1055ms 29ms ease-in-out infinite alternate;
}

#ui .text:nth-child(11) {
	color: rgba(195, 40, 115, 1);
	clip-path: polygon(49% -4%, 60% -9%, 60% 52%, 49% 61%);
	filter: blur(3px);
}

#ui .text:nth-child(11) .text_inner1 {
	animation: vertical 759ms 25ms ease-in-out infinite alternate;
}

#ui .text:nth-child(11) .text_inner2 {
	animation: horizontal 1581ms 99ms ease-in-out infinite alternate;
}

#ui .text:nth-child(12) {
	color: rgba(198, 40, 121, 1);
	clip-path: polygon(53% -5%, 63% -12%, 65% 55%, 54% 77%);
	filter: blur(1px);
}

#ui .text:nth-child(12) .text_inner1 {
	animation: vertical 824ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(12) .text_inner2 {
	animation: horizontal 711ms 90ms ease-in-out infinite alternate;
}

#ui .text:nth-child(13) {
	color: rgba(126, 40, 213, 1);
	clip-path: polygon(58% -1%, 69% -6%, 69% 54%, 58% 72%);
	filter: blur(-4px);
}

#ui .text:nth-child(13) .text_inner1 {
	animation: vertical 871ms 39ms ease-in-out infinite alternate;
}

#ui .text:nth-child(13) .text_inner2 {
	animation: horizontal 1623ms 73ms ease-in-out infinite alternate;
}

#ui .text:nth-child(14) {
	color: rgba(57, 40, 229, 1);
	clip-path: polygon(63% -5%, 73% -29%, 73% 55%, 64% 66%);
	filter: blur(-9px);
}

#ui .text:nth-child(14) .text_inner1 {
	animation: vertical 1653ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(14) .text_inner2 {
	animation: horizontal 1506ms 91ms ease-in-out infinite alternate;
}

#ui .text:nth-child(15) {
	color: rgba(115, 40, 151, 1);
	clip-path: polygon(69% -3%, 78% -24%, 76% 55%, 69% 60%);
	filter: blur(0px);
}

#ui .text:nth-child(15) .text_inner1 {
	animation: vertical 1413ms 52ms ease-in-out infinite alternate;
}

#ui .text:nth-child(15) .text_inner2 {
	animation: horizontal 1452ms 55ms ease-in-out infinite alternate;
}

#ui .text:nth-child(16) {
	color: rgba(113, 40, 100, 1);
	clip-path: polygon(73% -2%, 85% -5%, 84% 55%, 74% 58%);
	filter: blur(-5px);
}

#ui .text:nth-child(16) .text_inner1 {
	animation: vertical 743ms 43ms ease-in-out infinite alternate;
}

#ui .text:nth-child(16) .text_inner2 {
	animation: horizontal 1157ms 19ms ease-in-out infinite alternate;
}

#ui .text:nth-child(17) {
	color: rgba(67, 40, 122, 1);
	clip-path: polygon(78% -3%, 87% -14%, 86% 51%, 79% 53%);
	filter: blur(-9px);
}

#ui .text:nth-child(17) .text_inner1 {
	animation: vertical 1587ms 42ms ease-in-out infinite alternate;
}

#ui .text:nth-child(17) .text_inner2 {
	animation: horizontal 1211ms 94ms ease-in-out infinite alternate;
}

#ui .text:nth-child(18) {
	color: rgba(136, 40, 155, 1);
	clip-path: polygon(84% -1%, 92% -19%, 92% 55%, 83% 64%);
	filter: blur(9px);
}

#ui .text:nth-child(18) .text_inner1 {
	animation: vertical 746ms 2ms ease-in-out infinite alternate;
}

#ui .text:nth-child(18) .text_inner2 {
	animation: horizontal 1629ms 35ms ease-in-out infinite alternate;
}

#ui .text:nth-child(19) {
	color: rgba(90, 40, 229, 1);
	clip-path: polygon(88% -4%, 98% -17%, 98% 55%, 88% 74%);
	filter: blur(1px);
}

#ui .text:nth-child(19) .text_inner1 {
	animation: vertical 1093ms 42ms ease-in-out infinite alternate;
}

#ui .text:nth-child(19) .text_inner2 {
	animation: horizontal 967ms 83ms ease-in-out infinite alternate;
}

#ui .text:nth-child(20) {
	color: rgba(104, 40, 101, 1);
	clip-path: polygon(93% -4%, 104% -20%, 103% 53%, 93% 64%);
	filter: blur(2px);
}

#ui .text:nth-child(20) .text_inner1 {
	animation: vertical 1159ms 7ms ease-in-out infinite alternate;
}

#ui .text:nth-child(20) .text_inner2 {
	animation: horizontal 736ms 90ms ease-in-out infinite alternate;
}

#ui .text:nth-child(21) {
	color: rgba(162, 40, 164, 1);
	clip-path: polygon(-2% 48%, 10% 35%, 8% 101%, -2% 126%);
	filter: blur(2px);
}

#ui .text:nth-child(21) .text_inner1 {
	animation: vertical 1094ms 60ms ease-in-out infinite alternate;
}

#ui .text:nth-child(21) .text_inner2 {
	animation: horizontal 1627ms 42ms ease-in-out infinite alternate;
}

#ui .text:nth-child(22) {
	color: rgba(56, 40, 153, 1);
	clip-path: polygon(4% 47%, 11% 29%, 14% 105%, 4% 109%);
	filter: blur(-7px);
}

#ui .text:nth-child(22) .text_inner1 {
	animation: vertical 1480ms 83ms ease-in-out infinite alternate;
}

#ui .text:nth-child(22) .text_inner2 {
	animation: horizontal 1168ms 1ms ease-in-out infinite alternate;
}

#ui .text:nth-child(23) {
	color: rgba(201, 40, 88, 1);
	clip-path: polygon(9% 46%, 17% 39%, 17% 103%, 8% 126%);
	filter: blur(0px);
}

#ui .text:nth-child(23) .text_inner1 {
	animation: vertical 1023ms 37ms ease-in-out infinite alternate;
}

#ui .text:nth-child(23) .text_inner2 {
	animation: horizontal 957ms 57ms ease-in-out infinite alternate;
}

#ui .text:nth-child(24) {
	color: rgba(232, 40, 61, 1);
	clip-path: polygon(13% 47%, 22% 30%, 24% 105%, 13% 115%);
	filter: blur(-4px);
}

#ui .text:nth-child(24) .text_inner1 {
	animation: vertical 1665ms 27ms ease-in-out infinite alternate;
}

#ui .text:nth-child(24) .text_inner2 {
	animation: horizontal 1249ms 29ms ease-in-out infinite alternate;
}

#ui .text:nth-child(25) {
	color: rgba(233, 40, 132, 1);
	clip-path: polygon(18% 47%, 26% 26%, 30% 104%, 18% 123%);
	filter: blur(0px);
}

#ui .text:nth-child(25) .text_inner1 {
	animation: vertical 1034ms 84ms ease-in-out infinite alternate;
}

#ui .text:nth-child(25) .text_inner2 {
	animation: horizontal 1625ms 62ms ease-in-out infinite alternate;
}

#ui .text:nth-child(26) {
	color: rgba(66, 40, 153, 1);
	clip-path: polygon(23% 49%, 33% 24%, 35% 101%, 24% 118%);
	filter: blur(-7px);
}

#ui .text:nth-child(26) .text_inner1 {
	animation: vertical 1235ms 62ms ease-in-out infinite alternate;
}

#ui .text:nth-child(26) .text_inner2 {
	animation: horizontal 809ms 24ms ease-in-out infinite alternate;
}

#ui .text:nth-child(27) {
	color: rgba(80, 40, 109, 1);
	clip-path: polygon(29% 48%, 37% 39%, 38% 101%, 28% 102%);
	filter: blur(-7px);
}

#ui .text:nth-child(27) .text_inner1 {
	animation: vertical 1601ms 88ms ease-in-out infinite alternate;
}

#ui .text:nth-child(27) .text_inner2 {
	animation: horizontal 1166ms 76ms ease-in-out infinite alternate;
}

#ui .text:nth-child(28) {
	color: rgba(149, 40, 103, 1);
	clip-path: polygon(34% 47%, 42% 39%, 45% 104%, 33% 125%);
	filter: blur(4px);
}

#ui .text:nth-child(28) .text_inner1 {
	animation: vertical 795ms 88ms ease-in-out infinite alternate;
}

#ui .text:nth-child(28) .text_inner2 {
	animation: horizontal 1652ms 2ms ease-in-out infinite alternate;
}

#ui .text:nth-child(29) {
	color: rgba(93, 40, 90, 1);
	clip-path: polygon(38% 45%, 50% 20%, 48% 102%, 39% 110%);
	filter: blur(3px);
}

#ui .text:nth-child(29) .text_inner1 {
	animation: vertical 1621ms 85ms ease-in-out infinite alternate;
}

#ui .text:nth-child(29) .text_inner2 {
	animation: horizontal 1369ms 44ms ease-in-out infinite alternate;
}

#ui .text:nth-child(30) {
	color: rgba(167, 40, 119, 1);
	clip-path: polygon(43% 45%, 53% 46%, 55% 102%, 43% 107%);
	filter: blur(-6px);
}

#ui .text:nth-child(30) .text_inner1 {
	animation: vertical 1677ms 88ms ease-in-out infinite alternate;
}

#ui .text:nth-child(30) .text_inner2 {
	animation: horizontal 1467ms 15ms ease-in-out infinite alternate;
}

#ui .text:nth-child(31) {
	color: rgba(60, 40, 139, 1);
	clip-path: polygon(48% 46%, 59% 31%, 59% 101%, 48% 124%);
	filter: blur(6px);
}

#ui .text:nth-child(31) .text_inner1 {
	animation: vertical 868ms 69ms ease-in-out infinite alternate;
}

#ui .text:nth-child(31) .text_inner2 {
	animation: horizontal 1567ms 89ms ease-in-out infinite alternate;
}

#ui .text:nth-child(32) {
	color: rgba(73, 40, 242, 1);
	clip-path: polygon(53% 45%, 65% 27%, 64% 102%, 54% 115%);
	filter: blur(-1px);
}

#ui .text:nth-child(32) .text_inner1 {
	animation: vertical 1393ms 19ms ease-in-out infinite alternate;
}

#ui .text:nth-child(32) .text_inner2 {
	animation: horizontal 911ms 9ms ease-in-out infinite alternate;
}

#ui .text:nth-child(33) {
	color: rgba(208, 40, 116, 1);
	clip-path: polygon(59% 49%, 66% 21%, 66% 102%, 58% 128%);
	filter: blur(0px);
}

#ui .text:nth-child(33) .text_inner1 {
	animation: vertical 1589ms 84ms ease-in-out infinite alternate;
}

#ui .text:nth-child(33) .text_inner2 {
	animation: horizontal 766ms 53ms ease-in-out infinite alternate;
}

#ui .text:nth-child(34) {
	color: rgba(250, 40, 244, 1);
	clip-path: polygon(64% 45%, 71% 33%, 74% 102%, 63% 109%);
	filter: blur(-8px);
}

#ui .text:nth-child(34) .text_inner1 {
	animation: vertical 798ms 31ms ease-in-out infinite alternate;
}

#ui .text:nth-child(34) .text_inner2 {
	animation: horizontal 757ms 41ms ease-in-out infinite alternate;
}

#ui .text:nth-child(35) {
	color: rgba(199, 40, 104, 1);
	clip-path: polygon(68% 47%, 79% 28%, 77% 104%, 69% 118%);
	filter: blur(10px);
}

#ui .text:nth-child(35) .text_inner1 {
	animation: vertical 1376ms 14ms ease-in-out infinite alternate;
}

#ui .text:nth-child(35) .text_inner2 {
	animation: horizontal 712ms 39ms ease-in-out infinite alternate;
}

#ui .text:nth-child(36) {
	color: rgba(60, 40, 235, 1);
	clip-path: polygon(73% 48%, 81% 49%, 84% 102%, 74% 119%);
	filter: blur(-8px);
}

#ui .text:nth-child(36) .text_inner1 {
	animation: vertical 1170ms 45ms ease-in-out infinite alternate;
}

#ui .text:nth-child(36) .text_inner2 {
	animation: horizontal 752ms 42ms ease-in-out infinite alternate;
}

#ui .text:nth-child(37) {
	color: rgba(121, 40, 236, 1);
	clip-path: polygon(78% 48%, 86% 23%, 90% 103%, 79% 107%);
	filter: blur(8px);
}

#ui .text:nth-child(37) .text_inner1 {
	animation: vertical 1540ms 72ms ease-in-out infinite alternate;
}

#ui .text:nth-child(37) .text_inner2 {
	animation: horizontal 1656ms 91ms ease-in-out infinite alternate;
}

#ui .text:nth-child(38) {
	color: rgba(70, 40, 84, 1);
	clip-path: polygon(84% 45%, 95% 49%, 94% 101%, 83% 103%);
	filter: blur(-1px);
}

#ui .text:nth-child(38) .text_inner1 {
	animation: vertical 1099ms 50ms ease-in-out infinite alternate;
}

#ui .text:nth-child(38) .text_inner2 {
	animation: horizontal 1026ms 91ms ease-in-out infinite alternate;
}

#ui .text:nth-child(39) {
	color: rgba(78, 40, 178, 1);
	clip-path: polygon(89% 47%, 97% 47%, 96% 102%, 88% 121%);
	filter: blur(-4px);
}

#ui .text:nth-child(39) .text_inner1 {
	animation: vertical 1689ms 38ms ease-in-out infinite alternate;
}

#ui .text:nth-child(39) .text_inner2 {
	animation: horizontal 1493ms 3ms ease-in-out infinite alternate;
}

#ui .text:nth-child(40) {
	color: rgba(61, 40, 245, 1);
	clip-path: polygon(93% 49%, 103% 37%, 103% 102%, 94% 114%);
	filter: blur(-2px);
}

#ui .text:nth-child(40) .text_inner1 {
	animation: vertical 1527ms 14ms ease-in-out infinite alternate;
}

#ui .text:nth-child(40) .text_inner2 {
	animation: horizontal 1316ms 75ms ease-in-out infinite alternate;
}

#ui .text:nth-child(41) {
	color: rgba(72, 40, 211, 1);
	clip-path: polygon(-2% 97%, 8% 88%, 9% 153%, -1% 161%);
	filter: blur(-4px);
}

#ui .text:nth-child(41) .text_inner1 {
	animation: vertical 1334ms 14ms ease-in-out infinite alternate;
}

#ui .text:nth-child(41) .text_inner2 {
	animation: horizontal 1190ms 13ms ease-in-out infinite alternate;
}

@keyframes horizontal {
	0% {
		transform: translateX(6px);
	}

	100% {
		transform: translateX(-6px);
	}
}

@keyframes vertical {
	0% {
		transform: translateY(3px);
	}

	100% {
		transform: translateY(-3px);
	}
}