@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
	font-family: 'Lato';
	background-color: #000;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6, .footer {
	font-family: 'Catamaran';
	font-weight: 800 !important;
	margin: 0;
	padding: 0;
}

#ui {
	margin-bottom: 10px;
}

.col-md-3 {
	padding: 0px !important;
}

.btn-xl {
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

.rounded-pill {
	border-radius: 5rem;
}

.btn-primary {
	background-color: #ee0979;
	border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #bd0760 !important;
	border-color: #bd0760 !important;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1rem;
	margin: 20px;
}

h6 {
	font-size: 1rem;
}

.footer {
	opacity: 0.2;
	filter: alpha(opacity=20);
 /* For IE8 and earlier */
	position: fixed;
	bottom: 0;
	right: 20px;
}

.flex-container {
	height: 100vh;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.center-container {
	z-index: 2;
	border: 0px solid lime;
	width: 100%;
	margin-top: 60px;
}

.col-md-6 {
	border: 0px solid red;
	padding: 0;
}

img.img-jumbotron {
	z-index: -20;
	border: 0px solid lime;
	margin-top: -20px;
}

.hidden {
	display: none;
}

.opacity7 {
	opacity: 0.7;
	filter: alpha(opacity=70);
 /* For IE8 and earlier */
}

.opacity9 {
	opacity: 0.9;
	filter: alpha(opacity=90);
 /* For IE8 and earlier */
}

.text-black {
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.text-white {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

.text-grey {
	color: #aaa;
}

.bg-black {
	background-color: #000;
}

.bg-white {
	background-color: #fff;
}

.bg-red-orange {
	background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
}

.code {
	margin: 1rem auto 1rem;
	padding: .25rem;
	font-family: "Courier New", monospace;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
 /* For IE8 and earlier */
	color: white;
}

.fa {
	font-size: 4rem;
	padding-top: 40px;
	padding-bottom: 40px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#ui .text {
		font-size: 6rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.center-container {
		padding-left:5%;
		padding-right:5%;
	}

	img.img-jumbotron {
		float: right;
		border: 0px solid blue;
	}

	#ui .text {
		font-size: 5rem;
	}

	.btn-xl {
		padding: 1rem 1.5rem;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	img.img-jumbotron {
		float: right;
	}

	#ui .text {
		font-size: 4rem;
		letter-spacing: 0.4rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1rem;
	}

	.btn-xl {
		padding: 1rem 1.5rem;
	}

	.rounded-pill {
		border-radius: 5rem;
	}
}

/* smallest */
@media (max-width: 350px) {
	img.img-jumbotron {
		float: right;
	}

	#ui .text {
		font-size: 2.5rem;
		letter-spacing: 0.3rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1rem;
	}

	.btn-xl {
		padding: 0.5rem 1rem;
	}
}
