#container {
    	height: 100vh;
    	width: 600px;
    	overflow: hidden;
		margin-left:auto;
		margin-right:auto;
    }
    
    #box {
    	height: 100vh;
    	margin: auto;
    	animation-duration: 28s;
    	animation-iteration-count: 1;
    	animation-timing-function: linear;
		-webkit-animation-name: move;
		-webkit-animation-fill-mode: forwards;
		animation-name: move;
		animation-fill-mode: forwards;
    }
    
    /*#box:hover {
    	animation-play-state: paused;
    }*/
	
    @-webkit-keyframes move {
    	from {
    		margin-top: 0px;
    	}
    	to {
    		margin-top: -2250px;
    	}
    }
    
    @keyframes move {
    	from {
    		margin-top: 0px;
    	}
    	to {
    		margin-top: -2250px;
    	}
    }
	
